{% extends "base.html" %}
{% load i18n %}
{% load myfilters %}

{% block content %}
	<div id = "container">
		<div id = "logocontainer"><div id = "logo"></div></div>
		<div id = "registerform">
<div id = "formcontainer">
<form action="{{ action }}" method="POST">
  {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
		{% if form.username.errors %}
		<div class="alert alert-danger" role="alert">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span>
		 {{ form.username.errors }}
		</div>
		{% endif %}
        <label for="id_username">Username:</label>
        {{ form.username|addcss:'form-control' }}
    </div>
    <div class="form-group">
        {% if form.password1.errors %}
		<div class="alert alert-danger" role="alert">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span>
		 {{ form.password1.errors }}
		</div>
		{% endif %}
        <label for="id_password1">Password:</label>
        {{ form.password1|addcss:'form-control' }}
    </div>
    <div class="form-group">
        {% if form.password1.errors %}
		<div class="alert alert-danger" role="alert">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span>
		 {{ form.password1.errors }}
		</div>
		{% endif %}
        <label for="id_password2">Confirm Password:</label>
        {{ form.password2|addcss:'form-control' }}
    </div>
				    <button type="submit" class="btn btn-default">Submit</button>

</form>
</div>
</div>
</div>
{% endblock %}