{% extends "basetrans.html" %}
{% load myfilters %}

{% block title %} Friends {% endblock %}

{% block maincontent %}

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    
<form action="{{ action }}" method="POST">
  {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
                     {% if form.username.errors %}
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
         {{ form.username.errors }}
        </div>
        {% endif %}
        <label for="id_username">Username:</label>
        {{ form.username|addcss:'form-control' }}
    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
</form>

Friends:
  <table class = "table">
    <tr>
      <th>Name</th>
    </tr>
    {% for friend in myfriends.all %}
      <tr><td><span class="pop" data-toggle="popover" data-trigger="hover" title="{{ friend.user.username }}" data-content= "{{friend.description}}">{{ friend.user.username }}</span></td></tr>
    {% endfor %}
  </table>
  
Requests:
  <table class = "table">
    <tr>
      <th>Name</th>
      <th>Accept</th>
      <th>Reject</th>
    </tr>
    {% for friend in requests.all %}
      <tr>
        <td>{{ friend.sender.username }}</td>
        <td><a href = "processfriendship?c=accept&id={{friend.id}}"><span class="glyphicon glyphicon-ok-sign"></span></a></td>
        <td><a href = "processfriendship?c=reject&id={{friend.id}}"><span class="glyphicon glyphicon-remove-sign"></span></a></td>
      </tr>
    {% endfor %}
  </table>

Your requests:
  <table class = "table">
    <tr>
      <th>Name</th>
      <th>Cancel</th>
    </tr>
    {% for friend in myasks.all %}
      <tr>
        <td>{{ friend.recepient.username }}</td>
        <td><a href = "cancelfriendrequest?id={{friend.id}}"><span class="glyphicon glyphicon-remove-sign"></span></a></td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}

