{% extends "basetrans.html" %}
{% load myfilters %}
{% block title %} Transactions {% endblock %}
{% block maincontent %}
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

Transaction Requests:
  <table class = "table">
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Amount</th>
      <th>Accept</th>
      <th>Reject</th>
    </tr>
    {% for trequest in pendingts %}
        <tr>
            <td>{{trequest.transaction.sender.username}}</td>
            <td>{{trequest.transaction.recepient.username}}</td>
            <td>{{trequest.transaction.amount}}</td>
            <td><a href = "respond?c=accept&id={{ trequest.id }}"><span class="glyphicon glyphicon-ok-sign"></span></a></td>
            <td><a href = "respond?c=reject&id={{ trequest.id }}"><span class="glyphicon glyphicon-remove-sign"></span></td>
        </tr>

    {% endfor %}
  </table>

  Sent pending transactions:
  <table class = "table">
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Amount</th>
      <th>Cancel</th>
    </tr>
    {% for trequest in sentts %}
        <tr>
            <td>{{trequest.transaction.sender.username}}</td>
            <td>{{trequest.transaction.recepient.username}}</td>
            <td>{{trequest.transaction.amount}}</td>
            <td><a href = "canceltransactionrequest?id={{ trequest.id }}"><span class="glyphicon glyphicon-remove-sign"></span></a></td>
        </tr>

    {% endfor %}
  </table>

  Transaction History:
  <table class = "table">
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Amount</th>
    </tr>
    {% for trans in acceptedts %}
        <tr>
            <td>{{trans.sender.username}}</td>
            <td>{{trans.recepient.username}}</td>
            <td>{{trans.amount}}</td>
        </tr>

    {% endfor %}
  </table>



{% endblock %}
