body{
	background-image: url('ptn3.png');
	background-repeat: repeat;
}
#container{
	margin-left:auto;
	margin-right:auto;
	width:500px;
	margin-top:40px;
}
#loginform{
	height:300px;			
	border-radius: 5px;
	box-shadow: 0px 2px 35px -5px rgba(0,0,0,0.67);
	background-image: url('back.png');
	background-repeat:repeat;

}
#registerform{
		min-height:400px;	

	border-radius: 5px;
	box-shadow: 0px 2px 35px -5px rgba(0,0,0,0.67);
	background-image: url('back.png');
	background-repeat:repeat;

}
#loginform form{
}
#logo{
	background-image: url('logo.png');
	margin-left:auto;
	background-size: 200px 200px;

	margin-right:auto;
	height:200px;
	width:200px;

}
#logocontainer{
	width:500px;
	height:240px;
}
#formcontainer{
	padding-top:60px;
	padding-left:10px;
	padding-right:10px;

}
#lobcontainer .alert {
	width: 750px;
	margin-left:40px;
}
#loginform .alert {
	position: absolute;
	width:500px;
}
#registerform .alert {
	position:relative;
	width:450px;
	margin-left:auto;
	margin-right:auto;
}

.alert ul {
	list-style-type: none;

}
#newacct{
	float:right;
	margin-right:30px;
	margin-bottom:30px;
}
#maincon{
	margin-top:30px;
	min-height:300px;

	border-radius: 5px;
	box-shadow: 0px 2px 35px -5px rgba(0,0,0,0.67);
	background-image: url('back.png');
	background-repeat:repeat;

}
.nav {
	margin-top:20px;
}
#logout{
	float:left;
	margin-bottom:0px; 
}

#id_lob{
	list-style-type: none;
	display:inline;
}
#id_lob li {
	display:inline;
}
#lobcontainer{
	padding-top:20px;
	margin-left:-40px;
}
#placeholder{
	float:right;
	position:absolute;
	right:0;
	top:10px;
}